body {
  font-size: .875rem;
}

.loading {
  display: block;
  visibility: visible;
  position: absolute;
  z-index: 999;
  top: 0px;
  left: 0px;
  width: 105%;
  height: 105%;
  background-color:white;
  padding-top: 20%; 
  filter: alpha(opacity=85); 
  opacity: 0.85; 
  color: black;
  font-size:large;
  font-style:italic;
  font-weight:400;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
 * Content
 */

[role="main"] {
  padding-top: 2%; /* Space for fixed navbar */
  padding-left: 2%!important;
  padding-right: 2%!important;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 2%; /* Space for fixed navbar */
    padding-left: 2%!important;
    padding-right: 2%!important;
  }
}

.navbar-nav > li{
  margin-left: 5px;
  margin-right: 5px;
}

.modal-sm {
  max-width: 30% !important;
}
.modal-md {
  max-width: 50% !important;
}
.modal-lg {
  max-width: 80% !important;
}

