html, body {
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden
}

#canvasContainer {
    overflow: hidden;
    position:relative;
}
#canvasOverlayTexts{
  position:absolute;
  text-shadow: 0 0 5px yellow;
}
#canvasButtons {
  display: flex;
}

#fullscreenButton {
  margin-left: auto;
}

#liveImg {
  width: 100%;
}