#canvas{
    /* position: fixed; or absolute (or not..) depending on your goal */
    left: 0;
    top: 0;
    width: 90%;
    height: 80%;
}
html, body {
    width:100%;
    height:100%;
    margin:0;
    overflow: hidden
}